.carousel-container{
    padding: 2em;
}
.slick-slide .carousel-item{
    background-color: white;
    color: inherit;
    text-decoration: none;
}
.slick-prev:before {
    color: black;
}
.slick-next:before {
    color: black;
}

.slick-slide .carousel-thumbnail-duo{
    margin: auto;
    width: 100%;
    height: auto;
    max-height: 4em;
    object-fit: cover;
}
.slick-slide .carousel-title-duo{
    max-width: 100%;
    height: 7em;
    font-size: .8em;
    font-weight: 600;
    padding: 1em;
    text-align: center;
}
.slick-slide .carousel-thumbnail{
    margin: auto;
    width: 100%;
    height: auto;
    max-height: 8em;
    object-fit: cover;
}

.slick-slide .carousel-title{
    max-width: 100%;
    font-weight: 600;
    padding: 1em;
    height: 5em;
    text-align: center;
}
.slick-slide p {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 1024px){
    .carousel-container{
        padding: 2em 10em;
    }
    .slick-slide .carousel-thumbnail{
        margin: auto;
        width: 100%;
        height: auto;
        max-height: 25em;
        object-fit: cover;
    }

    .slick-slide .carousel-thumbnail-duo{
        margin: auto;
        width: 100%;
        height: auto;
        max-height: 10em;
        object-fit: cover;
    }
    .slick-slide .carousel-title-duo{
        max-width: 100%;
        height: 5em;
        font-size: 1em;
        font-weight: 600;
        padding: 1em;
        text-align: center;
    }
    
}

