.navbar {
    font-weight: 500;
    display: flex;
    max-width: 100%;
    padding: 1em .6em;
    position: sticky;
    position: -webkit-sticky;
    background-color: #eee;
    z-index: 2;
    top: 0;    
}

.tab-menu {
    position: fixed;
    width: 100%;
    top: 3.5em;
    left: 0;
    z-index: 999;
    background-color: #eee;
    transform: translateX(100%);
    transition: transform .5s ease;
}

.tab-menu.active{
    transform: translateX(0);
}

.line-today-ico{
    width: 6em;
}

.button-bar-icon {
    font-size: 1em;
}
.nav-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tab-items {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}


.nav-links {
    display: block;
    padding: .5em;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.menu-item:hover,
.menu-item:active{
    background-color: black;
    color: #eee;
}
